
{% extends "base.html" %}
 {% block content %}

 <div class="content-wrapper">
   <div class="content body">
         <table id="table"
                data-card-view="true"
                data-unique-id="EntitlementGroup">
           <thead>
               <tr>
                   <th data-field="EntitlementGroup">EntitlementGroup:</th>
                   <th data-field="Account">Account:</th>
                   <th data-field="Service">Service:</th>
                   <th data-field="UserPresence">UserPresence:</th>
                   <th data-field="Protection">Protection:</th>
                   <th data-field="Data">Data:</th>
                   <th data-field="Creation Time">Creation Time:</th>
                   <th data-field="Modified Time">Modified Time:</th>
               </tr>
           </thead>
        </table>
    </div><!-- /.content -->
</div><!-- /.content-wrapper -->
{% endblock %}
